@model MusiCloud.Models.Song

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Song</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CounterPlayed)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CounterPlayed)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LinkToPlay)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LinkToPlay)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Album)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Album.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SearchTerm)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SearchTerm)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
